* {
    padding: 0;
    margin: 0;
    border: 0
}

@font-face {
    font-family: "Hermit-Regular";
    src: url("/fonts/Hermit-Regular.otf") format("woff2");
}

@font-face {
    font-family: "Hermit-Light";
    src: url("/fonts/Hermit-Light.otf") format("woff2");
}

@font-face {
    font-family: "Hermit-Bold";
    src: url("/fonts/Hermit-Bold.otf") format("woff2");
}

:root {
    /*Colors*/
    --first-section-background-color: #2a1361;
    --navbar-button-background-color: #055f8a;
    --navbar-button-text-color: white;

    /* NavBar Dimensions */
    --navbar-height: 3rem;
}

.first-section {
    height: 100vh;
    background: linear-gradient(to right, #211152, #3b197d);
    overflow: hidden;
}


/* Header */
.header-container {
    height: var(--navbar-height);
    text-align: center;
    padding-top: 2rem;
}

/* NavBar */
.navbar {
    display: inline-block;
    height: 100%;
}

.navbar-logo {
    display: inline-block;
    height: 100%;
    width: 50px;
    position: absolute;
    left: 8rem;
}

.navbar-logo img {
    max-height: 100%;
    max-width: 100%;
}

.navbar-button {
    font-size: 15px;
    background: none;
    height: 20px;
    padding: 0 10px;
    margin: 0.75rem 1rem;
}

.navbar-button.active {
    background-color: var(--navbar-button-background-color);
    border-radius: 15px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: var(--navbar-button-background-color);
    border-radius: 15px;
    cursor: pointer;
}

.navbar-button a:any-link {
    font-family: 'Hermit-Regular';
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Main Content */
.main-container {
    height: 100vh;
    position: relative;
}


/* Title Content */
.title-container {
    position: absolute;
    top: 10rem;
    left: 7rem;
    z-index: 4;
}

.title {
    color: white;
    font-family: 'Hermit-Bold';
    font-size: 5vw;
}

/* Background Elements */
.background-elements {
    width: 100vw;
    height: 100vh;
}

/* Computer Container */
.background-elements .computer-container {
    position: absolute;
    width: 40rem;
    height: 40rem;
    top: 94px;
    right: 78px;
    z-index: 1;
}

.background-elements .computer-container .float {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.background-elements .computer-container .float:hover {
    position: absolute;
    animation: float 600ms ease-in-out alternate infinite;
}

.background-elements .computer-container .avatar-1 {
    position: absolute;
    top: -20px;
    left: 56px;
    z-index: 1;
    transform: scale(0.7);
}

.background-elements .computer-container .computer {
    z-index: 0;
}

.background-elements .computer-container .computer-floor {
    z-index: 0;
    opacity: 80%;
}

/* Lines Container */
.lines-container {
    z-index: 0;
}

.background-elements .lines-container object {
    right: 0;
    position: absolute;
}

.background-elements .lines-container object:last-child {
    right: 0;
    position: absolute;
    right: -36px;
    top: -8px;
}

.background-elements .lines-container .line-bright.bright {
    animation: opening 10s;
}

/* Second Section */
.wave-container {
    width: 100%;
    position: absolute;
    bottom: 70px;
}

.second-section {
    background-color: #525252;
    height: 100vh;
}

@media screen and (max-width: 1125px) {
    .wave-container {
        bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .wave-container {
        bottom: 60px;
    }

    .title-container {
        left: 3rem;
    }
}

@keyframes float {
    from {
        top: 0px;
    }

    to {
        top: -25px;
    }

}

@keyframes fade-in-opacity {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes opening {
    0% {
        clip-path: circle(0%);
    }

    99% {
        clip-path: circle(150%);
    }

    100% {
        clip-path: none;
    }

}