* {
    padding: 0;
    margin: 0;
    border: 0
}

@font-face {
    font-family: "Hermit-Regular";
    src: url("/fonts/Hermit-Regular.otf") format("woff2");
}

@font-face {
    font-family: "Hermit-Light";
    src: url("/fonts/Hermit-Light.otf") format("woff2");
}

@font-face {
    font-family: "Hermit-Bold";
    src: url("/fonts/Hermit-Bold.otf") format("woff2");
}

:root {
    /*Colors*/
    --first-section-background-color: #2a1361;
    --navbar-button-background-color: #055f8a;
    --navbar-button-text-color: white;

    /* NavBar Dimensions */
    --navbar-height: 3rem;
}

.first-section {
    height: 100vh;
    background: linear-gradient(to right, #211152, #3b197d);
    overflow: hidden;
}

.header-container {
    height: var(--navbar-height);
    text-align: center;
    padding-top: 2rem;
}

.navbar {
    display: inline-block;
    height: 100%;
}

.navbar-button {
    font-size: 15px;
    background: none;
    height: 20px;
    padding: 0 10px;
    margin: 0.75rem 1rem;
}

.navbar-button:hover {
    background-color: var(--navbar-button-background-color);
    border-radius: 15px;
    cursor: pointer;
}

.navbar-button a:any-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.main-container {
    height: 100vh;
    position: relative;
}

.wave-container {
    width: 100%;
    position: absolute;
    bottom: 78px;
}

.second-section {
    background-color: #525252;
    height: 100vh;
}

.title-container {
    position: absolute;
    top: 10rem;
    left: 7rem;
}

.title {
    color: white;
    font-family: 'Hermit-Bold';
    font-size: 5vw;
}

.tilt-effect {
    display: inline;
}

.computer-container {
    display: inline-block;
    position: absolute;
    top: 3rem;
    right: 73rem;
    transform: scale(1.8);
}

.computer-container object {
    position: absolute;
    top: 55px;
}

.computer-container .computer {
    z-index: 2;
}

.computer-container .computer:hover {
    animation: computer-float 600ms ease-in-out alternate infinite;
}

.computer-container .computer-floor {
    z-index: 1;
    opacity: 80%;
}

.computer-container .lines {
    position: absolute;
    z-index: 0;
    top: 15px;
    left: -482px;
}

.computer-container .lines.bright {
    top: -24px;
}

@media screen and (max-width: 1125px) {
    .wave-container {
        bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .wave-container {
        bottom: 60px;
    }

    .title-container {
        left: 3rem;
    }
}

@keyframes computer-float {
    from {
        top: 55px;
    }

    to {
        top: 30px;
    }

}