html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: 'Hermit';
  src: url('../assets/fonts/Hermit-Regular.otf');
}

@font-face {
    font-family: HermitBold;
    src: url('../assets/fonts/Hermit-Bold.otf');
}

#computer{
    animation: float 600ms ease-in-out alternate infinite;
}

/* #floor{
  animation: openFloor 600ms ease-in-out alternate infinite;
}

@keyframes openFloor {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.99);
  }
} */

@keyframes float {
    from{
        bottom: 0rem;
    }
    to{
        bottom: 1rem
    }
}

@media only screen and (max-width: 840px) {
  #navbar{
    display:none
  }
}

@media only screen and (min-width: 840px) {
  #mobile-navbar{
    display:none
  }
}